.home {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height:100%;
  width: 100%;
  color: white;
}

.container-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #0969e7, #0ba7d6);
  width: 70%;
  height: 100vh;
  flex:1 1 auto;
}

.container-logo h2{
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.container-login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100vh;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
}